[submodule "Deep-Live-Cam-Multi-Language"]
	path = Deep-Live-Cam-Multi-Language
	url = https://github.com/AVGRadmin/Deep-Live-Cam-Multi-Language.git
[submodule "Deep-Live-Cam"]
	path = Deep-Live-Cam
	url = https://github.com/hacksider/Deep-Live-Cam
[submodule "iRoopDeepFaceCam-avgr"]
	path = iRoopDeepFaceCam-avgr
	url = https://github.com/AVGR-Labs/iRoopDeepFaceCam-avgr
